.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
}

.gameCanvas {
  width: 100%;
  height: 100%;
  position: relative;
}

.gameCanvas canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
}
